body {
    margin: 0; 
    height: 100vh; 
    background: black;
}


.box {
    width: 350px;
    height: 500px;
    background: rgba(255, 0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
    border-radius: 30px;
    border: 2px solid rgb(89, 10, 10);
    box-shadow: 0px 0px 60px rgb(188, 13, 13);
}

.music {
    position: absolute;
    bottom: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    border-radius: 35px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: rgb(188, 13, 13);
}

.box h1{
   font-size: 13px;
   text-align: center;
   color: rgb(188, 13, 13);
   position: absolute;
   bottom: 133px;
}
.box img{
    width: 300px;
    position: absolute;
    top: 40px;
    border-radius: 10px;
}